.contentCottageDetail{
  padding: 25px;

}

.blocks{
  text-align: center;
  margin-bottom: 16px;
}
.tab-content {
  padding: 16px;
}

.text_justify {
  text-align: justify;
}

.mat-chip {
  margin-bottom: 4px;
}

.capacity{
  font-weight: bold;
}

.description{
  font-style: italic;
  font-weight: bold;
}

