<mat-sidenav-container class="all-wrap" fullscreen>

  <mat-sidenav #sidenav class="sidenav" mode="over">
    <mat-toolbar color="primary" class="sidenav__header">
      Options
    </mat-toolbar>
    <a md-button style="height: 0; position: absolute; " routerLink="">
      <!-- 'absorbs' the behavior - żeby sie chujostwo pierwsze nie podwietlało -->
    </a>
    <mat-nav-list class="sidenav__list">
      <a mat-list-item ngClass="navListHeader">
        <mat-icon class="sidenav__list__icon">person</mat-icon>
        GŁÓWNE
      </a>
      <a mat-list-item routerLink="/reservation">
        <mat-icon class="sidenav__list__icon">search</mat-icon>
        Szukaj
      </a>
      <a mat-list-item routerLink= "/reservation-view">
        <mat-icon class="sidenav__list__icon">date_range</mat-icon>
        Moje Rezerwacje
      </a>
      <a mat-list-item routerLink="/payments">
        <mat-icon class="sidenav__list__icon">monetization_on</mat-icon>
        Płatnoci
      </a>
      <a mat-list-item routerLink="/order-service">
        <mat-icon class="sidenav__list__icon">add_shopping_cart</mat-icon>
        Usługi
      </a>

      <a mat-list-item routerLink="/tickets">
        <mat-icon class="sidenav__list__icon">live_help</mat-icon>
        Zgłoszenia
      </a>

    </mat-nav-list>

    <mat-nav-list class="sidenav__list" *ngIf="isAdmin()">
        <a mat-list-item ngClass="navListHeader">
            <mat-icon class="sidenav__list__icon">start_border</mat-icon>
            Administrator
          </a>

        <a mat-list-item routerLink="/status">
          <mat-icon class="sidenav__list__icon">cached</mat-icon>
          Obsługa Rezerwacji
        </a>

        <a mat-list-item routerLink="/handle-ticket">
          <mat-icon class="sidenav__list__icon">local_offer</mat-icon>
          Obsługa zgłoszeń
        </a>

        <a mat-list-item routerLink="/newsletter">
          <mat-icon class="sidenav__list__icon">drafts</mat-icon>
          Newsletter
        </a>

        <a mat-list-item routerLink="/edit_cottage">
          <mat-icon class="sidenav__list__icon">edit</mat-icon>
          Edytuj Obiekt
        </a>

        <a mat-list-item routerLink="/manage_maps">
          <mat-icon class="sidenav__list__icon">place</mat-icon>
          Zarządzaj mapą
        </a>


    </mat-nav-list>
    <!-- <mat-nav-list class="sidenav__list">
      <a *ngIf="isAdmin()" mat-list-item (click)="sidenav.toggle()" routerLink="/homeadmin">
        <mat-icon class="sidenav__list__icon">settings</mat-icon>
        HomeAdmin
      </a>
    </mat-nav-list> -->
  </mat-sidenav>

  <div class="page-wrap">

    <header role="banner">

      <mat-toolbar color="primary" ngClass="fixedNav" [ngStyle]="{'z-index': 1000}">
        <mat-toolbar-row>
          <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <span ngClass="logo">
            <img src="assets/logo.png" class="angular-logo">
            Cottage Reservation System
          </span>
          <span class="example-spacer"></span>
          <span>Witaj {{userName}} {{isAdmin() ? "*admin*" : ""}}</span>
          <div *ngIf="(isLoggedIn | async)">
            <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item routerLink= "/edit-profile">
                <mat-icon>account_circle</mat-icon>
                <span>Edytuj Profil</span>
              </button>
              <button mat-menu-item (click)="logout()">
                <mat-icon>exit_to_app</mat-icon>
                <span>Wyloguj</span>
              </button>
            </mat-menu>

          </div>
        </mat-toolbar-row>

      </mat-toolbar>


    </header>

    <div ngClass="pageContent">
      <router-outlet></router-outlet>
    </div>

    <footer  ngClass="footer-list"
    fxLayout="row"
     fxLayoutAlign="center center">
      <div>
            <p>&copy; 2018 cottage.test</p>
      </div>
    </footer>

  </div>
</mat-sidenav-container>
