.contentPayment{
  padding: 25px;
}


.blocks{
  text-align: center;
  margin-bottom: 16px;
}

// mat-table .error {
//   flex: 1 0 100%; // <- to the error while take all the rows
//   text-align: center; // <- cause its pretty
//   color:red; // <- cause red errors are so neat

//   &:not(.displayed) {
//       display: none; // <- only way for me to do that
//   }
// }
