<!-- <div class="row">

  <div class="col-md-4">
    <h1>Login</h1>
    <hr>
    <br>
    <form (ngSubmit)="onLogin()" novalidate>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="enter email" [(ngModel)]="user.email" name="email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="enter password" [(ngModel)]="user.password" name="password"
          required>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div> -->

<div class="signin-content">
  <mat-card class="background-form">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Logowanie</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="userForm" (ngSubmit)="onLogin()">
        <p>Prosze sie zalogować</p>

        <mat-form-field class="full-width-input">
          <input matInput placeholder="email" formControlName="email" required>
        </mat-form-field>
        <div [ngClass]="'error-msg'" *ngIf="email.errors?.email && password.touched">zly format email</div>

        <mat-form-field class="full-width-input">
          <input matInput type="password" placeholder="Password" formControlName="password" required>
        </mat-form-field>
        <div [ngClass]="'error-msg'" *ngIf="password.invalid && password.touched">zla dlugosc</div>
        <br>
        <button mat-raised-button color="primary" type="submit" [disabled]="userForm.invalid">Login</button>
      </form>
    </mat-card-content>
    <div [ngClass]="'error-msg'" *ngIf="error">zly login lub haslo</div>
  </mat-card>
</div>
