mat-sidenav{
  width: 250px;
}

mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}

.example-header-image {
  background-image: url('https://www.materialui.co/materialIcons/action/account_circle_grey_72x72.png');
  background-size: cover;
}

.error-msg {
  display: block;
  font-size: 75%;
  bottom: -2em;
  color: red;
}

