.blocks{
  text-align: center;
  margin-bottom: 16px;
}


.contentCottages{
  padding:25px;
}
.description{
  text-align: justify;
}

.example-header-image {
  background-size: cover;
}

.cottage_header{
  text-align: left;
}

