<div ngClass="contentContacts" fxLayout fxLayoutAlign="center" fxLayoutGap="10px">

  <div #contact class="blocks" fxFlex="50%">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>
          <h1 ngClass="card_header">Kontakt:</h1>
        </mat-card-title>
        <mat-card-subtitle>
          <p>w razie pytań prosimy o kontakt</p>
        </mat-card-subtitle>
      </mat-card-header>


      <mat-toolbar color="primary">
        <mat-toolbar-row>
          <span>Nr Tel. 1: </span>
          <span class="example-spacer"></span>
          <p>00-000-00-00</p>
          <mat-icon class="example-icon">phone</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-toolbar color="accent">
        <mat-toolbar-row>
          <span>Nr Tel. 2: </span>
          <span class="example-spacer"></span>
          <p>000-000-000</p>
          <mat-icon class="example-icon">smartphone</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>

      <mat-toolbar color="warn">
        <mat-toolbar-row>
          <span>Adres email: </span>
          <span class="example-spacer"></span>
          <p>example@example.com</p>
          <mat-icon class="example-icon">email</mat-icon>
        </mat-toolbar-row>
      </mat-toolbar>
    </mat-card>
  </div>
  <!-- map.offsetHeight -->
  <div #map class="blocks" fxFlex="50%">
    <mat-card class="map-card">
      <agm-map [style.height.px]="height" [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
      </agm-map>
    </mat-card>
  </div>

</div>
