// .blocks{
//   text-align: center;
//   margin-bottom: 16px;
// }


.contentContacts{
  padding:25px;
}
agm-map {
  height: 300px;
}
.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}
.card_header{
  text-align: left;
}
.map-card{
  padding: 0;
}

.contact_color1{
background-color: #7986CB;
color: white;
}

.contact_color2{
  background-color:#3F51B5;
  color: white;
}

.contact_color3{
  background-color:#1A237E;
  color: white;
}
