.item{
  border-radius: 6px;
  padding: 20px;
}

.item-1{
  border-style: solid;
  border-color: coral;
}
.item-2{
  background-color: rgb(226, 26, 26);
}
.item-3{
  background-color: rgb(22, 25, 187);
  color: white;
}
.item-4{
  background-color: rgba(54, 206, 34, 0.342);
}
.item-5{
  background-color: rgb(168, 21, 212);
}

.container{
padding: 20px;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.54);
}
